<div class='box'>
  <div class='card'>
    <h2 class='card__title'>CANADA</h2>
    <img src='' alt='' class='card__img' />

    <ul class='stats'>
      <li class='stats__item'>
        <p class='stats__text'>STATS:
          <span class='stats__subtext'>10000</span></p>
      </li>
      <li class='stats__item'>
        <p class='stats__text'>STATS:
          <span class='stats__subtext'>10000</span></p>
      </li>
      <li class='stats__item'>
        <p class='stats__text'>STATS:
          <span class='stats__subtext'>10000</span></p>
      </li>
    </ul>
  </div>
  <div class='slider'>
    <img class='slider__img' src='' alt='' />
  </div>
</div>