<div class="card">
  <div class="card__box">
    <img class="card__img" src="${
      flags.svg
    }" alt="${name}" width="30"></img>
    <span class="card__text">${
      name !== 'Russian Federation' ? name : 'Terrorist state'
    }</span>
  </div>
  <ul class="list">
    <li class="list__item">
      <p class="list__text">Capital: <span class="list__subtext">${
        capital !== 'Moscow' ? capital : 'Оркостан'
      }</span></p>
    </li>
    <li class="list__item">
      <p class="list__text">Population: <span class="list__subtext">${population}</span></p>
    </li>
    <li class="list__item">
      <p class="list__text">Languages: <span class="list__subtext">${languagesName}</span></p>
    </li>
  </ul>
</div>