{{#each this}}
  <a class='gallery__item' href='{{largeImageURL}}'>
    <img
      class='gallery__image'
      src='{{webformatURL}}'
      alt='National flags'
      title='{{tags}}'
    />
  </a>
{{/each}}