:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.gallery {
  width: 60%;
  height: 500px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -3px;
}

.gallery.spinner {
  align-items: center;
}

.gallery__item {
  margin: 3px;
  flex-basis: calc((100% - 3px * 6) / 3);
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery__image:hover {
  transform: scale(1.03);
  cursor: zoom-in;
}

.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.gallery__link:hover {
  cursor: zoom-in;
}
