* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  background-image: url(../images/flagsBg.jpeg);
  background-size: cover;
  min-height: 100vh;
}

ul,
ol,
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* 
  font-family: 'Fredoka One', cursive;
  font-family: 'PT Sans Caption', sans-serif; 
*/

.is-hide {
  display: none;
}

.link {
  font-size: 30px;
  color: #2a2a2a;
  background-color: rgba(255, 255, 255, 0.799);
  border-radius: 10px;
}

.container {
  width: 1030px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.countries {
  padding-top: 20px;
  padding-bottom: 20px;
}

.wrapper {
  background-color: rgba(255, 255, 255, 0.799);
  border-radius: 50px;

  color: #178ac4;
  font-family: 'Fredoka One', cursive;
  text-shadow: 1px 1px black;

  margin-bottom: 50px;
}

.countries__title {
  font-weight: 700;
  font-size: 45px;

  text-transform: uppercase;
  text-align: center;

  margin: 0;
}

.countries__input {
  display: block;
  width: 90%;
  height: 50px;

  padding: 0 50px;
  margin: 0 auto;

  text-align: center;
  font-size: 20px;

  border: 1px solid #178ac4;
  border-radius: 10px;
}

.countries__label {
  font-size: 25px;

  display: block;
  text-align: center;
  margin: 0 auto;
}

.country-list {
  list-style: none;

  padding-left: 25px;
  padding-right: 25px;
  margin: -10px;

  display: flex;
  flex-wrap: wrap;
}

.country-list__item {
  flex-basis: calc((100% - 20px * 2) / 2);
  height: 80px;
  margin: 10px;
  padding: 0 15px;

  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #178ac4;

  box-shadow: 3px 3px 4px #2a2a2a;

  display: flex;
  align-items: center;
}

.country-list__img {
  margin-right: 10px;
  width: 73px;
}

.country-list__text {
  font-family: 'Fredoka One', cursive;
  font-size: 22px;
}

.country-info {
}

.box {
  display: flex;
  border: 2px solid #178ac4;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.9);
}

.card {
  width: 40%;
  padding: 20px 10px;

  font-family: 'PT Sans Caption', sans-serif;
}

.card__title {
  text-align: center;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 25px;

  color: #2a2a2a;

  margin-bottom: 15px;
}

.card__img {
  display: block;
  width: 100%;
  height: 200px;

  margin-bottom: 15px;
}

.stats {
  padding-left: 16px;
}

.stats__item {
}

.stats__item:not(:last-child) {
  margin-bottom: 10px;
}

.stats__text {
  font-size: 19px;
  font-weight: 600;
}

.stats__subtext {
  font-weight: normal;
  font-size: 18px;
}

.stats__subtext:not(:last-child) {
  margin-right: 3px;
}

.gallery {
  width: 60%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.slider__img {
  display: block;
  width: 95%;
  height: 95%;
}
/* 
.country-list {
  list-style: none;

  padding: 0;
  margin: 0 16px;
}

.country-list__item {
  font-size: 23px;
  font-weight: 500;

  width: fit-content;
  padding: 0 10px;

  border: 1px solid #2a2a2a;
  border-radius: 3px;

  background-color: rgb(253, 253, 253);

  display: flex;
  align-items: center;
}

.country-list__item:not(:last-child) {
  margin-bottom: 10px;
}

.country-list__img {
  margin-right: 10px;
}

.country-list__text {
}

.country-info {
  margin-left: 16px;
}

.card {
  padding: 10px;

  width: 500px;

  border: 1px solid #2a2a2a;
  border-radius: 3px;

  background-color: rgb(253, 253, 253);
}

.card__box {
  display: flex;
  align-items: center;
}

.card__img {
  margin-right: 10px;
}

.card__text {
  font-size: 35px;
  font-weight: 600;
}

.list {
  list-style: none;
  padding: 0;
}

.list__item {
}

.list__text {
  font-size: 18px;
  font-weight: 700;
}

.list__subtext {
  font-weight: 400;
} */
